<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Banking System</title>
    <style>
      body{
        background-image: url("https://images.pexels.com/photos/3943716/pexels-photo-3943716.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        background-color: #cccccc;
      }
      .container{
          text-align: center;
          margin-top: 5%;
      }
      h1{
          font-style:italic;
          font-size: 3rem;
          color:darkblue;
      }
      a:link,a:visited {
     background-color: #03506f;
     color: white;
     margin-top: 1%;
     margin-left: 10%;
     margin-bottom: 4%;
     padding: 10px 10px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
}

a:hover {
  background-color: #bbbbbb;
}

#history-page{
    background-color: azure;
}
td{
  font-size: 1.5rem;
  color: black;
}

    </style>
</head>

<body>